/*
Theme Name: WP Bootstrap Starter Child
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
Description:  The best WordPress starter child theme based on the most powerful frameworks in the world: "_s" (by Automattic, the main people behind WordPress development), Twitter Bootstrap (the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web) and Font Awesome (or Fontawesome, a full suite of 675+ pictographic icons for easy scalable vector graphics on websites). This theme, like WordPress, is licensed under the GPL. You can use this theme as base for your next WordPress theme project and you are allowed to remove the link at the footer or do whatever you want. Your feedback on how we can continuously improve this WordPress Starter Theme Bootstrap will be highly appreciated. Page templates includes Right-sidebar (default page template), Left-Sidebar, Full-Width, Blank with container, Blank without container Page. Other features - Currently using Bootstrap v4.0.0 , Widgetized footer area, WooCommerce ready, Compatible with Contact Form 7, Compatible with Visual Composer, Compatible with Elementor Page Builder. This theme will be an active project which we will update from time to time. Check this page regularly for the updates.
Version: 3.1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp-bootstrap-starter
Tags: blog, custom-menu, featured-images, threaded-comments, translation-ready, right-sidebar, custom-background, e-commerce, theme-options, sticky-post, full-width-template
*/

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700');

h1,h2,h3,h4,h5 {
    font-family: 'Alegreya Sans', sans-serif;
}

.primary_col {
    color: #08aac3;
}

.white_col {
    color: #fff;
}

.center {
    margin: 0 auto;
}

.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.woocommerce-billing-fields__field-wrapper > p {
    width: 48% !important;
}

.woocommerce-billing-fields__field-wrapper > p > label {
    width: 30%;
	text-align: right;
}

.woocommerce-billing-fields__field-wrapper > p > span {
	flex-grow: 1;
    padding-left: 1rem;
}

.checkout_form {
	padding: 2rem;
    box-shadow: 0 0 17px 0px #ccc;
    border-radius: 10px;
}

.woocommerce-shipping-totals.shipping {
	display: flex;
	justify-content: flex-end;
}


.review_top .woocommerce-Price-amount.amount {
	font-weight: 800;
    font-size: 55px;
    color: #95A942;
}

.product_img {
    max-width: 400px !important;
    width: 100%;
    height: auto !important;
}

.fk_shop_table {
	border: none !important;
	border-top: solid 1px #ccc !important;
	border-spacing: 0;
	border-bottom: solid 1px #ccc !important;
}

.fk_shop_table thead {
	background-color: #F1F1F1 !important;
    border-bottom: 1px solid #E7E7E7 !important;
}

.under_product {
	border-bottom: solid 1px #ccc !important;
    margin-bottom: 2rem;
}

.quantity_circle {
    width: 80px;
    display: block;
    background: #08aac3;
    border-radius: 160px;
    border: solid 5px #52707f;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 63px;
    height: 80px;
    font-style: italic;
}


.form_foot {
    background: #08aac3;
    border-top: solid 3px #505050;
    padding: 2rem 0;
}


#billing_first_name_field {order: 3;}
#billing_last_name_field {order: 4;}
#billing_gender_field {order: 13;}
#billing_country_field {order: 1;}
#billing_phone_field {order: 2;}
#billing_email_field {order: 1;}
#ebanx_billing_brazil_document_field {order: 12;}
#billing_postcode_field {order: 5;}
#billing_address_1_field {order: 7;}
#billing_number_field {order: 8;}
#billing_compliment_field {order: 11;}
#billing_area_field {order: 10;}
#billing_city_field {order: 6;}
#billing_state_field {order: 9; }
#billing_neighborhood_field {order: 14; display: none !important; }


.checkout.woocommerce-checkout.checkout_form #place_order{
    margin: 0 auto;
    font-size: 130%;
    padding: 1rem 7%;
    background-color: #95A942;
}


@media (max-width: 767.98px) {
	
	.woocommerce-billing-fields__field-wrapper {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    flex-direction: column;
	}
	
	.woocommerce-billing-fields__field-wrapper > p {
	    width: 100% !important;
	}
	
	.woocommerce-billing-fields__field-wrapper > p > label {
	    width: 100%;
		text-align: left;
	}
	
	.woocommerce-billing-fields__field-wrapper > p > span {
		flex-grow: 1;
	    padding-left: 0;
	}
	
	.checkout_form {
		padding: 0;
	    box-shadow: initial;
	    border-radius: 0;
	}
	
	.review_top .woocommerce-Price-amount.amount {
	    font-size: 18px;
	}
	
    #billing_first_name_field {order: 3;}
    #billing_last_name_field {order: 4;}
    #billing_gender_field {order: 13;}
    #billing_country_field {order: 1;}
    #billing_phone_field {order: 2;}
    #billing_email_field {order: 1;}
    #ebanx_billing_brazil_document_field {order: 12;}
    #billing_postcode_field {order: 5;}
    #billing_address_1_field {order: 7;}
    #billing_number_field {order: 8;}
    #billing_compliment_field {order: 11;}
    #billing_area_field {order: 10;}
    #billing_city_field {order: 6;}
    #billing_state_field {order: 9; }
    #billing_neighborhood_field {order: 14; display: none !important; }
    
    .quantity_circle {
        font-size: 14px;
        color: #000;
        background: unset;
        border: none;
        width: 100%;
        height: auto;
        text-align: center;
        font-weight: 600;
    }
    
    .woocommerce-Price-amount.amount {
        font-size: 14px;
    }
    
    .form_foot {
        text-align: center;
    }
    
    .form_foot img {
        margin-bottom: 2rem;
    }
    
    .form_foot .text-right {
        text-align:center !important;
    }


}


.top_bar_ty{
    height: 54px;
    background-image: linear-gradient(#4d4d4d, #000000);
}

.top_bar_txt{
    float: right;
    color: #fff;
    font-size: 14px;
}
.top_bar_d{
    
    line-height: 49px;
    padding: 0px 30px;
}

.foot_ty{
    text-align: center;
}
 .bground_color{
     background-color:#fff;
 }
 
 .th_color{
     background-color:#08AAC3;
 }
 
 .table_pos{
    width: 90% !important; 
    margin: 0 auto;
 }
 
 .home_ty{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
 }
 
 
 
 
 
 
