/* - - - - - - - - - - - - - - - - - - - - -

Theme Name: Bella Lift
Theme URI: http://www.htmlid.com
Description: Bella Lift Skin Product Html Template
Author: Jaranen / HTMLID
Author URI: http://www.htmlid.com

Created : 19.11.2014
Modified : 19.11.2014

- - - - - - - - - - - - - - - - - - - - - */

/* global reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,
q,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,
q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

/* end of global reset */


/* ----- CSS ----- */

body{
font-family: 'Alegreya Sans', sans-serif;
background-color:#FFFFFF;
}

/* ----- ID'S & CLASSES----- */
.hand_hover{
    cursor: pointer;
}
#header {
width:100%;
background-image:url(../images/header-bcg.jpg);
background-repeat:no-repeat;
background-position:top center;
height:686px;
}
#header .header-con {
width:1000px;
margin:0 auto;
height:666px;
position:relative;
}
#header .logo {
float:left;
padding:20px 0 0 55px;
}
#header .example {
display:block;
width:140px;
height:179px;
background-image:url(../images/before-after-bcg.png);
background-repeat:no-repeat;
background-position:center;
position:absolute;
top:15px;
right:128px;
}
#header .example p {
font-size:13px;
color:#FFFFFF;
text-transform:uppercase;
text-align:center;
font-weight:bold;
width:125px;
}
#header .example p span {
display:block;
width:50%;
line-height:20px;
float:left;
z-index:3;
}
#header .cloud {
padding:2px 5px;
text-align:center;
width:111px;
height:52px;
background-image:url(../images/cloud-bcg.png);
background-repeat:no-repeat;
position:absolute;
z-index:4;
top:55px;
right:250px;
}
#header .cloud h4 {
text-transform:uppercase;
color:#FFFFFF;
text-shadow:1px 0 #2596A7;
font-size:18px;
font-weight:bold;
line-height:21px;
}
#header .cloud p {
font-size:13px;
color:#4F6C7B;
font-style:italic;
font-weight:400;
line-height:13px;
}
#header .text {
width:395px;
position:absolute;
z-index:6;
top:160px;
left:360px;
}
#header .text h1 {
font-size:40px;
font-weight:bold;
color:#43545C;
text-transform:uppercase;
line-height:42px;
margin-bottom:75px;
}
#header .text p {
height:50px;
margin-bottom:34px;
padding-left:100px;
font-weight:400;
font-size:13px;
color:#353535;
}
#header .button {
width:439px;
height:92px;
position:absolute;
z-index:6;
background-image:url(../images/header-button.png);
background-repeat:no-repeat;
bottom:10px;
right:0;
}
#header .button a {
display:block;
position:relative;
color:#FFFFFF;
text-decoration:none;
font-size:55px;
color:#FFFFFF;
text-indent:20px;
line-height:92px;
text-transform:uppercase;
font-weight:bold;
text-shadow:1px 1px #4F6C7B;
}
#header .button a span {
display:block;
width:73px;
padding-top:10px;
text-align:center!important;
text-indent:0;
font-size:22px;
font-weight:400;
line-height:22px;
float:right;
margin:0 34px 0 0;
}
#content {
width:1000px;
padding:15px 13px 20px 12px;
background-image:url(../images/content-bcg.jpg);
background-repeat:repeat-y;
background-position:center;
min-height:300px;
margin:0 auto;
}
#content .about {
width:970px;
margin:0 auto;
padding-bottom:15px;
}	
#content .about .leftside {
width:495px;
float:left;
}
#content .about h3 {
font-size:40px;
line-height:40px;
color:#4F6C7B;
padding-bottom:10px;
font-weight:400;
}
#content .about h3 span {
font-weight:bold;
color:#08AAC3;
}
#content .about .leftside p {
font-size:16px;
color:#3D3D3D;
font-weight:400;
padding-bottom:15px;
}
#content .about .leftside h4 {
font-size:22px;
padding-bottom:10px;
font-weight:bold;
color:#08AAC3;
}
#content .about .img-left {
float:left;
padding:0 15px 10px 0;
}
#content .about .leftside h5 {
font-size:36px;
line-height:38px;
font-weight:bold;
padding-bottom:3px;
color:#08AAC3;
}
#content .about .rightside {
width:420px;
float:right;
}
#content .about .rightside p {
text-transform:uppercase;
font-size:33px;
line-height:33px;
font-weight:400;
color:#000000;
padding-bottom:10px;
}
#content .about .rightside .first {
padding-left:30px;
font-size:26px;
}
#content .about .rightside .one {
text-align:center;
}
#content .about .rightside .add {
font-size:14px;
color:#666666;
text-align:center;
padding:5px 0 10px 0;
line-height:18px;
}
#content .about .rightside .add span {
padding:0 8px!important;
width:100px;
float:left;
background-image:none;
margin-bottom:10px;
display:block;
}
#content .about .rightside p span {
margin-left:10px;
padding-left:35px;
background-image:url(../images/right-side-span-bcg.png);
background-repeat:no-repeat;
background-position:left center;
}
#content .divider {
width:1006px;
margin-left:-2px;
height:66px;
background-image:url(../images/divider-bcg.png);
background-repeat:no-repeat;
text-indent:20px;
}
#content .divider h3 {
line-height:64px;
color:#FFFFFF;
font-size:30px;
font-style:italic;
text-transform:uppercase;
}
#content .divider .button {
display:block;
width:208px;
height:46px;
float:right;
margin:10px 50px 0 0;
}
#content .divider .button a {
display:block;
text-indent:10px;
line-height:46px;
width:208px;
text-transform:uppercase;
text-decoration:none;
background-image:url(../images/button-order.png);
background-repeat:no-repeat;
color:#FFFFFF;
font-size:26px;
text-shadow:1px 1px #B63F68;
}
#content .new {
margin:10px auto;
width:980px;
padding:20px 0;
background-image:url(../images/new.jpg);
background-position:right top;
background-repeat:no-repeat;
}
#content .new h3 {
color:#464646;
font-size:40px;
text-transform:uppercase;
line-height:90px;
margin-bottom:25px;
}
#content .new h3 span {
padding-right:175px;
background-image:url(../images/logo-mid.png);
background-position:right center;
background-repeat:no-repeat;
height:85px;
display:inline-table;
}
#content .new p {
text-align:center;
padding-bottom:20px;
}
#content .facts {
padding-bottom:20px;
width:980px;
margin:0 auto;
}
#content .facts .left {
width:260px;
padding:20px 20px 0 20px;
float:left;
}
#content .facts .right {
width:610px;
padding-left:30px;
float:left;
}
#content .facts h3 {
font-size:30px;
padding-bottom:15px;
color:#454545;
text-transform:uppercase;
}
#content .facts p {
font-size:13px;
color:#000000;
padding-bottom:10px;
}
#content .testimonials {
width:980px;
margin:0 auto;
padding-bottom:10px;
}
#content .testimonials h2 {
font-size:40px;
color:#52707F;
font-weight:400;
padding-bottom:10px;
}
#content .testimonials h2 span {
font-weight:bold;
padding-right:64px;
background-image:url(../images/h2-span-bcg.png);
background-repeat:no-repeat;
background-position:right center;
}
#content .testimonials .test-box {
width:295px;
float:left;
margin:0 15px;
}
#content .testimonials .test-box .top {
padding-bottom:10px;
}
#content .testimonials .test-box .top .person {
float:left;
margin:0 12px 4px 0;
}
#content .testimonials .test-box .top h4 {
font-size:22px;
color:#08AAC3;
padding:15px 0 0 0;
font-weight:bold;
}
#content .testimonials .test-box p {
font-size:16px;
color:#3D3D3D;
}
#content .testimonials .test-box .name {
color:#08AAC3;
}
#content .pictures {
width:950px;
margin:0 auto;
padding:20px 0 12px 0;
}
#content .info {
width:960px;
margin:0 auto;
}
#content .info h2 {
font-weight:400;
color:#52707F;
font-size:52px;
line-height:56px;
}
#content .info h2 span {
font-weight:800;
color:#08AAC3;
}
#content .info h3 {
font-size:30px;
color:#52707F;
padding-bottom:10px;
}
#content .info .bottom {
width:960px;
height:585px;
background-image:url(../images/info-bottom-bcg.jpg);
background-repeat:no-repeat;
background-position:top left;
position:relative;
}
#content .info .bottom .your-info {
width:415px;
padding:15px;
position:absolute;
z-index:6;
right:-5px;
bottom:2px;
background-color:#0BAAC3;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding-bottom: 0px;
}
#content .info .bottom .your-info .left {
float:left;
width:190px;
}
#content .info .bottom .your-info .right {
float:right;
width:190px;
}
#content .info .bottom .your-info h4 {
margin-bottom:10px;
font-size:38px;
color:#FFFFFF;
font-weight:400;
}
#content .info .bottom .your-info p {
margin-bottom:10px;
}
#content .info .bottom .your-info input {
width:100%;
height:30px;
text-indent:15px;
background-color:#FFFFFF;
border:none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color:#666666;
font-size:14px;
}
#content .info .bottom .your-info select {
width:100%;
height:30px;
text-indent:15px;
background-color:#FFFFFF;
border:none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color:#666666;
font-size:14px;
}
#content .info .bottom .your-info .submit {
display:block;
background-color:#0BAAC3;
width:395px;
height:101px;
background-image:url(../images/submit-button.png);
background-repeat:no-repeat;
cursor:pointer;
margin:0 auto;
}
#content .info .bottom .arrow {
width:594px;
height:138px;
background-image:url(../images/arrow-bcg.png);
background-repeat:no-repeat;
background-position:center;
position:absolute;
left:-58px;
z-index:9;
bottom:10px;
}
#content .info .bottom .arrow h3 {
padding:45px 0 0 60px;
color:#1B1B1B;
}
#footer {
width:100%;
border-top:1px solid #505050;
background-color:#08AAC3;
padding:25px 0;
}
#footer .footer-con {
width:980px;
margin:0 auto;
}
#footer .flogo {
float:left;
}
#footer .fnav {
width:500px;
float:right;
padding-top:28px;
}
#footer .fnav ul {
float:right;
}
#footer .fnav ul li {
float:left;
font-size:16px;
}
#footer .fnav ul li a {
text-decoration:none;
color:#FFFFFF;
line-height:18px;
border-left:1px solid #ffffff;
padding:0 5px;
}
#footer .fnav ul .first a {
border:none;
}
#footer .fnav ul li a:hover {
text-decoration:underline;
}
#header2 {
width:1016px;
height:362px;
margin:0 auto;
background-image:url(../images/header2-bcg.jpg);
background-repeat:no-repeat;
background-position:center;
}
#header2 .top {
padding:40px 0 80px 175px;
}
#header2 .top h1 {
font-size:26px;
font-weight:300;
color:#464646;
}
#header2 .top h2 {
font-size:26px;
font-weight:800;
color:#464646;
text-transform:uppercase;
}
#header2 .bottom {
padding-left:145px;
}
#header2 .bottom h3 {
font-size:48px;
font-weight:800;
color:#08AAC3;
text-transform:uppercase;
line-height:52px;
}
#header2 .bottom h3 span {
color:#E82C66;
}
#content .post {
width:961px;
padding:10px 20px;
border-top:1px solid #BABABA;
}
#content .post h3 {
font-size:40px;
color:#08AAC3;
font-weight:800;
}
#content .post h3 span {
color:#E82C66;
}
#content .post .pack {
width:100%;
position:relative;
}
#content .post .product-pic {
width:530px;
float:left;
}
#content .post .product-pic p {
text-indent:100px;
font-size:13px;
color:#818181;
}
#content .post .cost {
width:350px;
float:right;
}
#content .post .cost .price {
font-size:55px;
font-weight:800;
color:#95A942;
margin-bottom:18px;
}
#content .post .cost .por {
font-size:16px;
font-weight:bold;
color:#3B3B3B;
padding-bottom:8px;
}
#content .post .cost .por span {
margin-left:20px;
}
#content .post .cost .por .line {
margin:0;
text-decoration:line-through;
}
#content .post .cost .description {
font-size:14px;
padding-bottom:6px;
color:#3B3B3B;
}
#content .post .pack .discount {
display:block;
width:132px;
height:102px;
padding-top:12px;
background-image:url(../images/discount-bcg.png);
background-repeat:no-repeat;
text-align:center;
position:absolute;
right:-44px;
top:1px;
z-index:5;
}
#content .post .pack .discount p {
text-transform:uppercase;
color:#FFFFFF;
font-size:14px;
}
#content .post .pack .discount p span {
font-size:40px;
color:#E82C66;
font-weight:bold;
}
.header3 {
width:980px;
margin:0 auto;
padding:10px 0;
}
#top {
width:980px;
padding:0 21px 0 26px;
height:65px;
margin:0 auto;
background-image:url(../images/top-bcg.jpg);
background-repeat:no-repeat;
background-position:right;
}
#top h1 {
color:#08AAC3;
font-size:40px;
line-height:75px;
}
#content .order {
width:920px;
margin:0 auto;
border-top:1px solid #BABABA;
}
#content .order .heading {
width:100%;
background-color:#F1F1F1;
height:40px;
line-height:40px;
border-bottom:1px solid #E7E7E7;
margin-bottom:10px;
}
#content .order .heading p {
font-size:16px;
color:#575757;
font-weight:bold;
}
#content .order .heading p span {
display:block;
float:left;
}
#content .order .heading .first {
text-indent:10px;
width:375px;
}
#content .order .heading .second {
text-indent:10px;
width:265px;
}
#content .order .heading .third {
text-indent:10px;
width:280px;
}
#content .order .your-order {
width:100%;
padding-bottom:10px;
border-bottom:1px solid #BABABA;
}
#content .order .your-order .product {
width:375px;
float:left;
}
#content .order .your-order .amount {
width:265px;
float:left;
}
#content .order .your-order .amount .num {
width:104px;
height:104px;
background-image:url(../images/num-bcg.png);
background-repeat:no-repeat;
background-position:center;
margin-bottom:3px;
text-align:center;
}
#content .order .your-order .amount .num p {
color:#FFFFFF;
font-size:90px;
line-height:95px;
text-align:center;
font-weight:bold;
font-style:italic;
}
#content .order .your-order .amount h3 {
font-size:20px;
color:#575757;
font-weight:bold;
width:104px;
text-align:center;
}
#content .order .your-order .total {
float:left;
width:280px;
}
#content .order .your-order .total p {
font-weight:800;
font-size:55px;
color:#95A942;
}
#content .order .bottom-part {
padding:10px 0;
}
#content .order .bottom-part .guarantee {
width:465px;
float:left;
}
#content .order .bottom-part .guarantee .seal {
float:left;
width:105px;
}
#content .order .bottom-part .guarantee p {
font-size:14px;
color:#3B3B3B;
line-height:22px;
}
#content .order .bottom-part .rightside {
width:320px;
float:right;
}
#content .order .bottom-part .rightside p {
font-size:16px;
color:#000000;
font-weight:bold;
margin-bottom:10px;
}
#content .order .bottom-part .rightside p span {
width:80px;
float:left;
text-align:right;
padding-right:6px;
line-height:30px;
}
#content .order .bottom-part .rightside select {
width:230px;
padding-left:10px;
float:right;
height:30px;
line-height:30px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border:1px solid #c0c0c0;
font-size:13px;
}
#content .order .bottom-part .rightside .final {
font-size:12px;
color:#000300;
text-align:right;
}
#content .order .bottom-part .rightside .final span {
font-size:22px;
color:#E82C66;
float:none;
font-weight:bold;
}
#content .ordering-info {
padding:10px 20px 20px 20px;
width:961px;
border-top:1px solid #BABABA;
}
#content .ordering-info h2 {
color:#08AAC3;
font-size:40px;
line-height:75px;
}
#content .ordering-info .mid {
width:840px;
margin:0 auto;
}
#content .ordering-info .left {
padding-left:20px;
float:left;
width:390px;
}
#content .ordering-info .left p {
margin-bottom:16px;
float:left;
}
#content .ordering-info .left p span {
width:105px;
padding-right:5px;
float:left;
height:30px;
line-height:30px;
text-align:right;
}
#content .ordering-info .left input {
width:260px;
padding-left:10px;
float:left;
line-height:30px;
float:left;
height:30px;
border:1px solid #c0c0c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#content .ordering-info .left select {
width:270px;
padding-left:10px;
float:left;
line-height:30px;
float:left;
height:30px;
border:1px solid #c0c0c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#content .ordering-info .left .segura {
margin-left:90px;
padding-left:14px;
background-image:url(../images/segura-bcg.png);
background-repeat:no-repeat;
background-position:left center;
}
#content .card-info {
padding:10px 20px 20px 20px;
width:961px;
border-top:1px solid #BABABA;
background-color:#E1E1E1;
}
#content .card-info h2 {
color:#08AAC3;
font-size:40px;
line-height:65px;
}
#content .card-info .card-type {
width:900px;
margin:0 auto;
padding:50px 0 20px;
background-image:url(../images/cards.png);
background-repeat:no-repeat;
background-position:top center;
}
#content .card-info .card-type input {
width:13px;
height:13px;
}
#content .card-info .card-type span {
display:block;
float:left;
}
#content .card-info .card-type .first {
margin-left:20px;
}
#content .card-info .card-type .second {
margin-left:50px;
}
#content .card-info .card-type .third {
margin-left:60px;
}
#content .card-info .card-type .fourth {
margin-left:55px;
}
#content .card-info .card-type .fifth {
margin-left:48px;
}
#content .card-info .card-type .sixth {
margin-left:85px;
}
#content .card-info .card-type .seventh {
margin-left:170px;
}
#content .card-info .card-valid {
width:560px;
margin:0 auto;
padding:20px 0;
}
#content .card-info .card-valid .sum {
margin:0 auto;
padding-left:14px;
background-image:url(../images/segura-bcg.png);
background-repeat:no-repeat;
background-position:left center;
margin-bottom:20px;
width:210px;
}
#content .card-info .card-valid .secure {
float:right;
}
#content .card-info .card-valid .data {
width:420px;
float:left;
}
#content .card-info .card-valid .data p {
float:left;
width:100%;
margin-bottom:14px;
}
#content .card-info .card-valid .data p span {
width:150px;
padding-right:10px;
height:30px;
float:left;
line-height:30px;
font-size:14px;
color:#4E4B4B;
text-align:right;
}
#content .card-info .card-valid .data input {
width:235px;
padding-left:10px;
height:30px;
line-height:30px;
float:left;
background-color:#FFFFFF;
border:1px solid #c0c0c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#content .card-info .card-valid .data select {
width:245px;
padding-left:10px;
height:30px;
line-height:30px;
float:left;
background-color:#FFFFFF;
border:1px solid #c0c0c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#content .card-info .card-valid .data .valid select {
width:103px;
padding-left:10px;
height:30px;
line-height:30px;
float:left;
background-color:#FFFFFF;
border:1px solid #c0c0c0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#content .card-info .card-valid .data .valid .year {
margin-left:40px;
}
#content .card-info .card-valid .submit {
width:397px;
height:63px;
display:block;
border:none;
background-color:transparent;
background-image:url(../images/submit-order-button.png);
background-repeat:no-repeat;
cursor:pointer;
margin:20px auto;
}
#bottom-parts {
width:1016px;
height:34px;
margin:0 auto;
background-image:url(../images/bottom-bcg.jpg);
background-repeat:no-repeat;
background-position:top center;
margin-top:-22px;
}
.your-info .def-segura {
margin-left:90px;
padding-left:14px;
background-image:url(../images/segura-bcg.png);
background-repeat:no-repeat;
background-position:left center;
}
.hidedesktop{display:none !important;}

/* ----- SPECIAL CLASSES ----- */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.product-top { 
	width:100%;
	text-align:center;
	color:#FFFFFF;
	background-color:#ffb6c1;
	padding: 10px 0px;
	height:70px;
}
.logodesktop{display:block;}
.logomobil{display:none;}

.slim360 { padding: 0 0 8px 0; font-size: 0.8em; text-align: center; font-family: "Trebuchet MS", Verdana, sans-serif; color: #7A7A7A; }
.slim360 label { display: block; margin-top: 8px; }
.slim360 input, .slim360 span { display: inline-block; zoom: 1; *display: inline; vertical-align: middle; color:#fff; }
.slim360 input { width: auto !important;}
.slim360 span { margin-left: 8px !important; width: 380px !important; text-align: left; font-size: 0.95em; }
.slim360 a { color: #7A7A7A; }