﻿body, div {
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #000;
}

body, html {
	background: #679132 url(../images/thankyou/background.png) repeat-x;
}

/* Main Wrapper */

#mainWrapper {
	text-align: left;
	margin: 0 auto;
	min-width: 1035px;
}

#mainWrapper.homepage {
	background: url(../images/top-bg.jpg) repeat-x center top;
}

/* Intro */

#introWrapper {
	background: url(../images/intro-bg.jpg) no-repeat center top;
}

#intro {
	position: relative;
	width: 1017px;
	height: 782px;
	margin: 0 auto;
	z-index: 1;
}

#intro .warning {
	position: absolute;
	left: 68px;
	top: 34px;
	width: 876px;
	height: 78px;
	background: url(../images/warning-bg.png);
	border: 3px dashed #e10000;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

#intro .warning span {
	position: absolute;
	left: 36px;
	top: 14px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 30px;
	font-weight: bold;
	color: #e10000;
}

#intro .warning p {
	position: absolute;
	left: 165px;
	top: 12px;
	font-size: 15px;
	text-align: center;
}

#intro .title {
	position: absolute;
	left: 284px;
	top: 190px;
	width: 708px;
	height: 165px;
	background: url(../images/intro-title.png) no-repeat;
}

#intro .features {
	position: absolute;
	left: 535px;
	top: 372px;
	width: 444px;
	height: 252px;
	background: url(../images/intro-features.png) no-repeat;
}

#intro .bottle {
	position: absolute;
}

#intro .bottle.one {
	left: 385px;
	top: 387px;
}

#intro .bottle.two {
	left: 276px;
	top: 363px;
}

#intro .arrow {
	position: absolute;
	left: 0;
	top: 625px;
	width: 617px;
	height: 173px;
	background: url(../images/intro-arrow.png) no-repeat;
}

#intro .btn {
	position: absolute;
	left: 620px;
	top: 669px;
	width: 351px;
	height: 79px;
	background: url(../images/intro-btn.png) no-repeat;
	text-indent: -9999em;
}

/* Media */

#media {
	position: relative;
	width: 1017px;
	height: 379px;
	margin: 0 auto;
	background: url(../images/media-bg.jpg) no-repeat;
}

#media .video {
	position: absolute;
	left: 45px;
	top: 24px;
	width: 512px;
	height: 318px;
}

#media .title {
	position: absolute;
	left: 565px;
	top: 7px;
	width: 258px;
	height: 101px;
	background: url(../images/media-title.png) no-repeat;
}

#media .logos {
	position: absolute;
	left: 613px;
	top: 319px;
	width: 358px;
	height: 27px;
	background: url(../images/media-logos.png) no-repeat;
}

/* Medical */

#medical {
	position: relative;
	width: 1017px;
	height: 395px;
	margin: 0 auto;
	background: url(../images/medical-bg.jpg) no-repeat;
}

#medical .title {
	position: absolute;
	left: -40px;
	top: 3px;
	width: 528px;
	height: 182px;
	background: url(../images/medical-title.png) no-repeat;
}

#medical .texts {
	position: absolute;
	left: 350px;
	top: 160px;
	color: #fff;
}

#medical .texts span {
	display: block;
	font-size: 26px;
	line-height: 1.1;
	margin: 0 0 17px;
}

#medical .texts p {
	font-size: 18px;
	line-height: 1.2;
}

#medical .texts p em {
	display: block;
	font-style: normal;
	font-size: 16px;
	margin-top: 15px;
}

/* Ruler */

#ruler {
	position: relative;
	width: 1017px;
	height: 157px;
	margin: 0 auto;
	background: url(../images/ruler-bg.jpg) no-repeat;
}

#ruler .bottle {
	position: absolute;
}

#ruler .bottle.one {
	left: 0;
	top: 2px;
}

#ruler .bottle.two {
	left: 106px;
	top: 2px;
}

#ruler .bottle.three {
    left: 50px;
    top: -1px;
}

#ruler .title {
	position: absolute;
	left: 187px; 
	top: 36px;
	width: 484px;
	height: 66px;
	background: url(../images/ruler-title.png) no-repeat;
}

#ruler .btn {
	position: absolute;
	left: 764px; 
	top: 36px;
	width: 217px;
	height: 67px;
	background: url(../images/rushorder-btn.png) no-repeat;
	text-indent: -9999em;
}

/* Benefits */

#benefits {
	position: relative;
	width: 1017px;
	height: 396px;
	margin: 0 auto;
	background: url(../images/benefits-bg.jpg) no-repeat;
}

#benefits .benefit {
	position: absolute;
	font-size: 18px;
	line-height: 1.3;
}

#benefits .benefit.one {
	left: 119px;
	top: 33px;
}

#benefits .benefit.two {
	right: 124px;
	top: 33px;
	text-align: right;
}

#benefits .benefit.three {
	left: 129px;
	top: 156px;
}

#benefits .benefit.four {
	right: 124px;
	top: 156px;
	text-align: right;
}

#benefits .bottle {
	position: absolute;
    left: 410px;
    top: -17px;
}

#benefits .title {
	position: absolute;
	left: 322px;
	top: 224px;
	width: 378px;
	height: 171px;
	background: url(../images/benefit-title.png) no-repeat;
}


/* Formula */

#formula {
	position: relative;
	width: 1017px;
	height: 587px;
	margin: 0 auto;
	background: url(../images/formula-bg.jpg) no-repeat;
}

#formula .bottle {
	position: absolute;
}

#formula .bottle.one {
	left: 297px;
    top: 84px;
}

#formula .bottle.two {
	left: 411px;
    top: 84px;
}

#formula .bottle.three {
	left: 352px;
    top: 80px;
}

#formula .title {
	position: absolute;
}

#formula .title.first {
	left: 210px;
    top: 10px;
	width: 277px;
	height: 155px;
	background: url(../images/formula-title01.png) no-repeat;
}

#formula .topText {
	position: absolute;
	left: 500px;
	top: 54px;
	font-size: 14px;
}

#formula .topText span {
	color: #ff5900;
	font-weight: bold;
}

#formula .middleText {
	position: absolute;
	left: 428px;
	top: 232px;
	font-weight: bold;
	color: #fff;
	line-height: 1.3;
	letter-spacing: -1px;
}

#formula .middleText span {
	display: block;
	font-size: 16px;
	color: #000;
	margin-bottom: 5px;
}

#formula .title.second {
	left: 745px;
    top: 234px;
	width: 281px;
	height: 175px;
	background: url(../images/formula-title02.png) no-repeat;
}

#formula .bottomText {
	position: absolute;
	left: 405px;
	top: 369px;
}

#formula .bottomText p {
	font-size: 14px;
}

#formula .affect {
	position: absolute;
	left: 242px;
	top: 526px;
	font-size: 17px;
	font-weight: bold;
	color: #ff5900
}

#formula .title.third {
	position: absolute;
	left: 128px;
	top: 390px;
	width: 260px;
	height: 144px;
	background: url(../images/formula-title03.png) no-repeat;
}

/* Results */

#resultsWrapper {
	background: url(../images/results-bg.jpg) no-repeat center top;
}

#results {
	position: relative;
	width: 1017px;
	height: 297px;
	margin: 0 auto;
}

#results .title {
	position: absolute;
	left: -83px;
	top: 0;
	width: 399px;
	height: 182px;
	background: url(../images/results-title.png) no-repeat;
}

#results .name {
	position: absolute;
	top: 267px;
	text-align: center;
	width: 178px;
	color: #ffef74;
	font-size: 15px;
}

#results .name.one {
	left: 407px;
}

#results .name.two {
	left: 759px;
}

/* Form */

#formWrapper {
	background: url(../images/form-bg.jpg) no-repeat center top;
}

#form {
	position: relative;
	width: 1017px;
	height: 622px;
	margin: 0 auto;
}

#form .title {
	position: absolute;
	top: 51px;
	right: 51px;
	width: 755px;
	height: 57px;
	background: url(../images/form-title.png) no-repeat;
}

#form .bottle {
	position: absolute;
}

#form .bottle.one {
	left: 728px;
	top: 182px;
}

#form .bottle.two {
	left: 779px;
    top: 144px;
}

#form .fields {
	position: absolute;
	right: 416px;
	top: 143px;
}

#form .fields .field {
	padding-bottom: 7px;
}

#form .fields .field label {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 12px;
	font-size: 15px;
	color: #007211;
	padding-top: 8px;
}

#form .fields .field .textbox,
#form .fields .field select {
	margin: 0;
	padding: 7px 5px;
	width: 149px;
	height: 17px;
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#form .fields .field select {
	width: 161px;	
	height: 33px;	
}

#form .submitBtn {
	position: absolute;
	left: 341px;
	top: 395px;
	margin: 0;
	padding: 0;
	width: 351px;
	height: 79px;
	background: url(../images/form-btn.png) no-repeat;
	border: 0;
	cursor: pointer;
}

/* Wrapper */

#wrapper {
	width: 961px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.7);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.7);
}

/* Top Bar */

#topBar {
	position: relative;
	height: 54px;
	background: url(../images/thankyou/topbar-bg.png) repeat-x;
}

#topBar .contact {
	position: absolute;
	right: 30px;
	top: 17px;
	margin: 0;
	color: #fff;
	font-size: 14px;
}

/* Footer */

#footer {
	padding: 12px 0;
}

#footer .links {
	text-align: center;
	color: #000000;
	font-size: 13px;
	margin: 0;
}

#footer .links a {
	color: #000000;
}

/* Miscelleneous */

p {
	margin: 0 0 14px;
	font-size: 14px;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

.clear {
	clear: both;
}

input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

form {
	margin: 0;
	padding: 0;
}